ul {
  list-style-type: disc;
  list-style-position: inside; /* flytter prikken nærmere teksten */
  padding: 0;
  margin: 0 auto;
  max-width: 100rem;
}

li {
  color: #4a4a4a;
  margin-left: -1rem;
  position: relative;
  text-align: left;
  margin: 1rem;
}

/* Responsiv design for hjemme-siden */
@media (max-width: 479px) {
  li {
    margin: 0.75rem 0.5rem;
    margin-left: -0.8rem;
  }
}

@media (max-width: 767px) {
  li {
    margin: 0.9rem 0.75rem;
  }
}
