* {
    box-sizing: border-box;
}
/* Sjekk om denne er nødvendig senere, da vi kanskje ikke behøver container css pga headercss. */
.container {
    margin: rem;
    text-align: center;
    align-items: center;
}

.nav {
    background-color: #2a2a3f;
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    border: 2px solid #f698bf;
    padding: 1rem;
    flex-wrap: nowrap;
    justify-content: space-between;
    white-space: nowrap;
    overflow-x: auto;
    align-items: center;
}

/* TITTELEN PÅ FORSIDEN (MAIKENS PORTFOLIO) */
.site-title {
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
    padding: 0rem;
}

/* FARGE IKKE HOVER */
.site-title:focus,
.site-title:visited {
    color: #ffffff;
}

/* HOVER OVER TITTEL */
.site-title:hover {
    color: #f698bf;
}

/* OMRÅDET RUNDT ALLE ELEMENTENE */
.nav ul {
    padding: 0rem;
    margin: 0rem;
    list-style: none;
    display: flex;
    gap: 1rem;
}

/* STYLING AV ALLE ELEMENTER */
.nav a {
    color: #ffffff;
    text-decoration: none;
    height: 100%;
    display: flex;
    padding: 0.5rem 1rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1.5rem;
    gap: 2rem;
    justify-content: center;
    display: inline-block;
    white-space: nowrap;
}

/* NÅR MAN TRYKKER PÅ EN AV BOKSENE, SÅ VIL UTSEENDET FORBLI SLIK (BAKGRUNSSKYGGE BORDER RADIUS OSV, IKKE FIRKANTET) */
.nav li {
    border-radius: 20px;
    transition: box-shadow 1s ease;
}

/* NÅR MAN HOVRER OVER VALGT ELEMENT */
.nav li:hover {
    background-color: transparent;
}

/* FARGE PÅ VALGT ELEMENT*/
.nav li.active a {
    color: #f698bf;
}

/* HOVER OVER IKKE AKTIVT ELEMENT BAKGRUNN */
.nav li:not(.active):hover {
    background-color: none;
    border-radius: 20px;
}
/* HOVER OVER IKKE VALGT ELEMENT TEKST */
.nav li:not(.active):hover a {
    color: #f698bf;
}
