body {
    background-color: #1e1e2f;
}

main {
    padding-top: 0rem; /* gir plass under navbar */
    transition: all 0.3s ease-in-out;
}

h1 {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 50px;
    padding: 0;
    color: #fcc5da;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 1.75rem;
    margin-bottom: 50px;
    padding: 0;
    color: #fcc5da;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 50px;
    padding: 0;
    color: #fcc5da;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
    color: #e0e0e0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
}


/* Små skjermer - mobilportrett, under 480px */
@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
        margin-bottom: 30px;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 30px;
    }

    h3 {
        font-size: 1.1rem;
        margin-bottom: 30px;
    }

    p,
    li {
        font-size: 1rem;
    }

    .content-container > div,
    .about-text,
    .about-image,
    .special-image {
        flex-basis: 100%; /* 1 element per rad på små skjermer */
        max-width: 100%;
        min-width: auto;
    }

    .profil-image {
        max-width: 100%;
        min-width: auto;
        height: auto;
    }

    .profil-image img {
        height: auto;
        max-width: 100%;
    }
}

/* Mellomstore skjermer - nettbrett og små laptops, 481px - 768px */
@media (min-width: 481px) and (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    p,
    li {
        font-size: 1.1rem;
    }

    .content-container > div,
    .about-text,
    .about-image,
    .special-image {
        flex-basis: 48%; /* to elementer per rad */
        max-width: 48%;
        min-width: 280px;
    }

    .profil-image {
        max-width: 700px;
        min-width: 300px;
        height: 30rem;
    }

    .profil-image img {
        height: 30rem;
        max-width: 100%;
    }
}

/* Store skjermer - desktop, over 769px */
@media (min-width: 769px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    p,
    li {
        font-size: 1.25rem;
    }

    .content-container > div,
    .about-text,
    .about-image,
    .special-image {
        flex-basis: calc(50% - 1rem);
        max-width: 600px;
        min-width: 280px;
    }

    .profil-image {
        max-width: 700px;
        min-width: 300px;
        height: 35rem;
    }

    .profil-image img {
        height: 35rem;
        max-width: 100%;
    }
} 
